html {
  scroll-behavior: smooth;
}

body {
  width: 1100px;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  height: 293px;
  left: 0px;
  top: 0px;
}

.header__links-list{
  font-family: raleway;
  list-style: circle;
  font-size: 18px;
  margin-left: 50px;
}

.header__links-list-item{
  all: unset;
  list-style: circle;
  display: inline;
  font-family: raleway;
  color: black;
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-left: 13px;
}

.header__links-list-item-active {
  text-decoration: none;
  margin-left: 0;
}

.logo {
  height: 105px;
  width: 148px;
  margin-top: 92px;
  margin-bottom: 96px;
}

.header__adress {
  margin-left: 184px;
  margin-right: 50px;
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  width: 1100px;
  background-image: url("../images/lotus-flower.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


.overlay {
  height: 100%;
  width: 1100px;
  background-color: rgba(0, 0, 0, 0.5); /* 50% затемнение */
  z-index: 1;
}

.aligned-text {
  position: relative;
  font-family: raleway;
  font-weight: bold;
  letter-spacing: 30%;
  line-height: 115%; 
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  font-style: normal;
  z-index: 2;
}

.aligned-text-left {
padding-left: 50px;
padding-top: 165px;
}

.aligned-text-center {
  padding-top: 20px;
  margin-left: 373px;
  margin-right: 388px;
}

.aligned-text-right {
  padding-top: 20px;
  padding-right: 20px;
  align-items: end;
}
.description {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 106px 50px 50px 50px;
}
.cover__description-text {
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
  word-spacing: 17px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-family: raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  z-index: 2;
}

.lots {
  max-width: 1100px;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "Raleway";
}

.lots__heading {
  height: 82px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 180px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  width: 1052px;
  display: grid;
  grid-template-columns: repeat(3, 334px);
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 596px;
}

.lots__card-list-item:nth-child(4) {
  grid-column: 1 / -1;
}

.card-link {
  color: inherit;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card_type_film {
  background-image: url("../images/photo.png"); /* Заменить на путь к изображению */
}

.card_type_book {
  background-image: url("../images/book.jpg");
}

.card_type_picture {
  background-image: url("../images/photo-2.png");
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  padding: 48px 40px 0 40px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 48px 40px;
}

.lots__look-more-link {
  font-family: raleway;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

.about {
  width: 1052px;
  display: grid;
  grid-template-columns:  334px auto;
  gap: 25px;
  margin: 120px 24px 0 24px;
  margin-top: 155px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto 0 auto;
}
.about__column-title{
  display: flex;
  align-items: center;
}
.about__title {
  font-family: raleway;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__column-text {
  font-family: raleway;
  line-height: 24px;
  font-size: 20px;
  grid-column: 2 /3;
}

.about__text {
  margin-bottom: 24px;
}

footer {
  width: 1000px;
  margin: 156px 50px 82px 50px;
  display: grid;
  grid-template-columns: 1fr 164px 1fr;
}

.footer__adress {
  justify-self: start;
}

.footer__menu-list {
  text-align: center;
}

.footer-list-item {
  all: unset;
  width: 164px;
  display: inline;
  font-family: raleway;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
}

.footer__social-link {
  margin-left: 48px;
  width: 48px;
  height: 48px;
  background-color: transparent;
}

.adress {
  text-decoration: none;
  font-family: raleway;
  font-size: 18px;
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
